# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# Logs / crash reports
# =========================
*.log

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =========================
# Secrets / certs (NEVER COMMIT)
# =========================
*.pfx
*.pem
*.key

# =========================
# Temp / cache
# =========================
*.tmp
*.bak
